<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron card card-block">
          <h3>
            Trading Platform
          </h3>
        </div>
        <div class="row" style="margin-bottom: 25px;">
          <div class="col-md-4">
            <span><h4 style="position: absolute;">S&amp;P 500:</h4><button class="stockbutton">$5.43</button></span>
            <div class="progress">
              <div class="progress-bar w-75">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <span><h4 style="position: absolute;">NASDAQ:</h4><button class="stockbutton">$3.43</button></span>
            <div class="progress">
              <div class="progress-bar w-75">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <span><h4 style="position: absolute;">DOW:</h4><button class="stockbutton">$2.01</button></span>
            <div class="progress">
              <div class="progress-bar w-75">
              </div>
            </div>
          </div>
        </div>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="/detail">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/detail">Strategy Tracker</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/detail">Stock News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/detail">Account Overview</a>
          </li>
          <li class="nav-item dropdown ml-md-auto">
            <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
              <button class="btn btn-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Account</button>
              <div ngbDropdownMenu aria-labelledby="dropdownManual">
                <button ngbDropdownItem>Login</button>
                <button ngbDropdownItem>Register</button>
                <button ngbDropdownItem>Certificates</button>
              </div>
            </div>
          </li>
        </ul>
        <app-toppage [stocks]=stocks></app-toppage>
      </div>
    </div>
  </div>
