@import '~primeng/resources/primeng.min.css';
@import '~primeng/resources/themes/bootstrap4-light-blue/theme.css';
@import '~primeicons/primeicons.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";


/* Application-wide Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 2em;
}

body,
input[type="text"],
button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}

.frontbanner {
  background-color: black;
  color: white;
  min-height: 60px;
  line-height: 1.625;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
  border-radius: 10px;
  text-align: left;
  font-size: 30px;
  font-weight: bolder;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}


